
#headerbar {background:#b4b5b7; padding:27px 0px; width 100%;}
#nav_r {float:right;}
#nav_l {float:left;}
#logo {text-align: center; margin: 99px auto 39px auto; width:800px;}
#line {height:1px; width:600px; color:#b4b5b7; background:#b4b5b7; border:none; }
#rss {position: absolute; top: 12px; right: 115px;}
#twitter {position: absolute; top: 14px; right: 35px;}
#tabs {position: absolute; top: 52px;}
#tabs #tab-home {position: absolute; left: 0px; z-index:-1;}
#tabs #tab-submit {position: absolute; left: 128px; z-index:-2;}
#tabs #tab-how-to {position: absolute; left: 256px; z-index:-3;}
#tabs #tab-current{}
.clear {clear:both;}
