<body id="<%= body_id %>">
  <div id="wrapper">
    <div id="left_side">
      <ul>
        <li>HOW TO PRONOUNCE IT:
        <li>HOW TO MAKE A PORTWIST:
        <br><br><br><br>
        <li>HOW TO READ THE TERMS AND CONDITIONS:
      </ul>
    </div><!--#left_side -->
  <div id="right_side">
    <ul>
      <li>Imagine a young Mike Tyson saying portraits.</li>
      <li>Get an Iphone 4 or 4S.
        <br>
        Go somewhere cool.
        <br>
        Take a pic of yourself with the front facing camera.
        <br>
        Flip the camera and take a pic of your surroundings.</li>
      <li><%= link_to 'Click here', terms_url, :id => 'submit_text', :class => 'fancybox fancybox.ajax' %></li>
    </ul>
  </div><!--#right_side -->
</div><!--#wrapper -->

