<div id='wrapper_tandc'>
	<div id="p1_tandc">
	  TERMS AND CONDITIONS
  </div><!-- #p1_tandc -->
	  <div id="p2_tandc">
  	  If you submit pictures I might use them for my portfolio, or a book, or on some other site.
      </br>
      I’m not an asshole.  I won’t do anything weird with your pictures.
      </br>
      But I think I’m obligated to tell you
      </br>
      this stuff might show up somewhere else (but probably not).
      </br>
      Let’s just all be good people and move on.
      </br>
      If you want to yell at us about it <a id='submit_text' href="mailto:mmearshe@gmail.com">click here.</a>
    </div><!-- #p2_tandc -->
</div><!--#wrapper_touteandc -->