  <div id="photos">
    <%= image_tag photo_set.photo_1.url(:home), :class => "user_left" %><%= image_tag photo_set.photo_2.url(:home), :class => "user_right" %>
      <div id="description">
        <ul>
          <li id="description_l"><%= photo_set.your_title %></li>
          <li id="description_r"><%= photo_set.your_name %></li>
        </ul>
      </div><!--#description -->
  </div><!-- #photos -->
<hr id="line_2">
