<!--#this code is for the pop up that will appear on click of submit and success -->
<div id='content_f'>
  <div id="p1_f">
    FAILURE
  </div><!-- #p1 -->
  <div id="p2_f">
    Oh boy, you goofed (or maybe we did, but that would never happen).
    </br>
    Make sure you selected two images created on an iPhone 4.
    </br>
    Check your internet connection and give it another shot.
    </br>
    </br>
    If you continue to have problems <a id="submit_text_sc" href="portwist.com/contactus">contact us.</a>
  </div><!-- #p2 -->
    <div id="tryagain">
    <a href="http://portwist.dev/submit"><img src="images/tryagain_btn.png"></a>
    </div><!--#tryagain -->
</div><!--#content -->
