<!DOCTYPE html>
<html>
<head>
  <title>Portwist</title>
  <%= stylesheet_link_tag 'reset', 'admin' %>
  <%= javascript_include_tag 'jquery', 'fancybox', 'placeholder_fix', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>
</body>
</html>
